.video{
  &__inner{
    margin: 115px 0;
    height: 500px;
    width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play{
    height: 100px;
    width: 100px; 
    background-color: $accent;
    border-radius: 50%;
    position: relative;
  }
  &__play-btn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}