html,
body {
  height: 100%;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  color: $default;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container-large {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 0 30px;
  background-color: #edf1f4;
  text-align: center;
}

.title {
  font-size: 36px;
  line-height: 24px;
  @extend %rubik-300;
  color: #222933;
  margin-bottom: 11px;
}

a {
  color: $text;
  font-size: 14px;
  @extend %rubik-400;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    @extend %rubik-400;
    &::after {
      content: '/';
      position: absolute;
      height: 13px;
      width: 2px;
      right: 12px;
      top: 0px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

.partners-section {
  width: 100%;
  height: 250px;
  background-color: #fef7f0;
  display: flex;
  justify-content: center;
  .container {
    margin: 0;
    display: flex;
    align-items: center;
  }
  &__images {
    flex-wrap: wrap;
    display: inline-flex;
  }
  &__images-img {
    & + .partners-section__images-img {
      padding-left: 98px;
    }
    object-fit: contain;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #243f4d;
  &__list {
    display: flex;
  }
  &__item {
    padding-right: 15px;
    margin: auto;
    line-height: 1;
  }
  &__link {
    padding: 18px 20px;
    border: 1px solid $accent;
    display: block;
    font-size: 16px;
    color: #243f4d;
  }
  &__link--active {
    background-color: $accent;
    color: #fff;
  }
  &__arrow {
    border: 1px solid $accent;
    padding: 18px 20px;
    line-height: 1;
    font-size: 16px;
    color: #243f4d;
  }
  &__prev {
    margin-right: 15px;
  }
}

@media (max-width: 1100px) {
  .partners-section {
    &__images-img {
      & + .partners-section__images-img {
        padding-left: 50px;
      }
    }
  }
}

@media (max-width: 900px) {
  .partners-section {
    &__images-img {
      & + .partners-section__images-img {
        padding-left: 9px;
      }
    }
  }
}

@media (max-width: 440px) {
  .pagination__arrow {
    display: none;
  }
}
