 $accent: #a3bbc8 ;
 $default: #243f4d ;
 $title: #1a1a1a ;
 $bg: #fcd7b6 ;
 $text: #7b7b7b;

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%btn{
  border: none;
  background-color: $accent;
  color: #fff;
  width: 100px;
  height: 38px;
  @extend %dmsans-400;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

%checkbox-hidden,
%radio-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}