@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.catalog {
  padding: 115px 0;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 280px;
    margin-right: 30px;
  }
  &__filter-btn {
    display: none;
  }
}

.filter__title {
  @extend %dmsans-700;
  color: #243f4d;
  font-size: 18px;
  margin-bottom: 25px;
  position: relative;
  span {
    margin-right: 15px;
  }
  &::after {
    content: '';
    background-image: url('../images/catalog/title-icon.svg');
    position: absolute;
    width: 38px;
    height: 2px;
    bottom: 15px;
  }
}

.filter-category {
  margin-bottom: 55px;
  &__form {
    display: grid;
  }
  &__label {
    cursor: pointer;
    margin-bottom: 0px;
  }
  // &__input {
  //   @extend %checkbox-hidden;
  //   &:checked + .filter-category__checkbox {
  //     background-color: #edf1f4;
  //   }
  // }

  &__checkbox {
    background-color: #fff;
    color: #243f4d;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @extend %rubik-400;
    line-height: 40px;
  }
  &__checkbox--active {
    color: #243f4d;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @extend %rubik-400;
    line-height: 40px;
    background-color: #edf1f4;
  }
}

.filter-price {
  margin-bottom: 80px;
  &__box {
    display: flex;
    justify-content: space-between;
  }
}

.css-1gv0vcd-MuiSlider-track {
  top: 15px !important;
  height: 4px !important;
  background-color: #c2d2db !important;
  border-radius: 0 !important;
  border: none !important;
}

.css-eg0mwd-MuiSlider-thumb {
  top: 15px !important;
  width: 15px !important;
  height: 15px !important;
  background-color: $accent !important;
  border-radius: 0 !important;
}

.css-eg0mwd-MuiSlider-thumb:hover {
  box-shadow: 0 0 0 0 !important;
}

.css-14pt78w-MuiSlider-rail {
  top: 15px !important;
  height: 2px !important;
  background-color: #c2d2db !important;
  border-radius: 0 !important;
  opacity: 1 !important;
}

.Mui-active {
  box-shadow: 0 0 0 0 !important;
}

.Mui-focusVisible {
  box-shadow: 0 0 0 0 !important;
}

.irs--flat .irs-line {
  top: 7px;
  height: 2px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: $accent;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 7px;
  height: 3px;
  background-color: $accent;
}

.irs-min,
.irs-max {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.filter-brand {
  margin-bottom: 55px;
  &__form {
    display: grid;
  }
  &__label {
    cursor: pointer;
    margin-bottom: 0px;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      span {
        color: #243f4d;
      }
    }
  }
  &__checkbox {
    background-color: #fff;
    color: #243f4d;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @extend %rubik-400;
    line-height: 40px;
  }
  &__num {
    color: #b3b3b3;
  }
}

.filter-products {
  &__item {
    display: flex;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    margin-right: 20px;
  }
  &__title {
    font-size: 14px;
    color: #333333;
    @extend %rubik-400;
    line-height: 1;
    padding-top: 5px;
    display: block;
  }
  &__price {
    font-size: 15px;
    color: #333333;
    @extend %rubik-400;
  }
  .star {
    display: block;
    padding: 10px 0 5px;
    width: 90px !important;
    svg + svg {
      padding-left: 8px;
    }
  }
}

.catalog-content {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 105px;
  }
  &__items-line {
    display: inline-block;
    margin-bottom: 30px;
  }
  &__item {
    height: 500px;
    display: flex;
    margin-bottom: 40px;
  }
  &__item-imglink {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
  }
  &__item-box {
    max-width: 420px;
    padding-top: 90px;
    padding-left: 55px;
  }
  &__item-titlelink {
    font-size: 40px;
    color: #333333;
    display: block;
    margin-bottom: 20px;
  }
  &__item-price {
    font-size: 30px;
    color: #333333;
    line-height: 45px;
    display: block;
    padding: 25px 0;
  }
  &__item-text {
    color: #243f4d;
    width: 415px;
    margin-bottom: 30px;
  }
  .star-line {
    display: block;
    padding: 0;
    width: 140px !important;
    svg + svg {
      padding-left: 13px;
    }
  }

  &__item-buttons {
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    padding: 0;
    margin-right: 8px;
    background-color: #fff;
    overflow: hidden;
    svg {
      fill: $accent;
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }

  &__item-buttons--active {
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    padding: 0;
    margin-right: 8px;
    background-color: red;
    overflow: hidden;
    svg {
      fill: #fff;
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }

  &__item-buttons:hover {
    background-color: $accent;
    svg {
      fill: rgb(100%, 100%, 100%);
    }
  }
  &__item-button {
    cursor: pointer;
    height: 50px;
    width: 208px;
    background-color: $accent;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 0;
    border-radius: 5px;
    position: absolute;
    display: none;
  }
  .pagination-line {
    justify-content: start;
  }
}

.product {
  padding: 120px 0 0;
}

.product-item {
  &__inner {
    display: flex;
  }
  &__slide {
    margin-right: 70px;
  }
  &__content {
    width: 540px;
  }
  &__box {
    max-width: 540px;
    padding-top: 30px;
  }
  &__title {
    font-size: 40px;
    color: #333333;
    display: block;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 30px;
    color: #333333;
    line-height: 45px;
    display: block;
    padding: 30px 0;
  }
  &__form {
    display: flex;
    margin-bottom: 50px;
  }
  &__text {
    color: #243f4d;
    width: 540px;
    margin-bottom: 30px;
  }
  &__num {
    width: 50px;
    border: 1px solid #a3bbc8;
    text-align: center;
    color: #333;
    padding-top: 10px;
  }
  &__btn-left {
    content: '';
    border: 1px solid #a3bbc8;
    height: 50px;
    width: 50px;
    color: #333;
    background-color: #fff;
    border-right: none;
  }
  &__btn-right {
    content: '';
    border: 1px solid #a3bbc8;
    height: 50px;
    color: #333;
    width: 50px;
    background-color: #fff;
    border-left: none;
  }

  .star-line {
    display: block;
    padding: 0;
    width: 140px !important;
    svg + svg {
      padding-left: 13px;
    }
  }
  &__btn {
    cursor: pointer;
    height: 50px;
    width: 208px;
    background-color: $accent;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 0;
    border-radius: 5px;
    margin-left: 15px;
  }
  &__info {
    display: block;
    color: $default;
  }
}

.jq-number__field {
  width: 148px;
  border: 1px solid $accent;
  transform: translateY(1px);
}

.jq-number__field input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  @extend %rubik-400;
  color: #333333;
  text-align: center;
}

.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__field::before {
  content: '';
  border-left: 1px solid $accent;
  left: 48px;
  height: 48px;
  width: 1px;
  position: absolute;
}

.jq-number__field::after {
  content: '';
  border-right: 1px solid $accent;
  right: 48px;
  height: 48px;
  width: 1px;
  position: absolute;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 21px;
  top: 26px;
}

.jq-number__spin.plus {
  right: 20px;
  top: 26px;
}

.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #333333;
}

.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 5px;
  width: 1px;
  height: 10px;
  background-color: #333333;
}

.product-slide {
  height: 530px;
  display: flex;
  &__thumb {
    width: 135px;
    margin-right: 25px;
  }
  &__thumb-item {
    border: 2px solid #f2f2f2;
    margin-bottom: 25px;
    height: 156px;
    width: 135px;
    cursor: pointer;
    img {
      height: 150px;
      width: 130px;
      object-fit: contain;
    }
  }
  &__big {
    width: 380px;
  }
  &__big-item {
    height: 543px;
    border: 2px solid #f2f2f2;
    justify-content: center;
    display: flex !important;
    width: 380px;
    padding-top: 60px;
    img {
      height: 405px;
      object-fit: none; // cover
    }
  }
}

.slick-list {
  height: auto !important;
}

.product-tabs {
  padding-top: 105px;
  &__top {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  &__top-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf1f4;
    font-size: 18px;
    line-height: 1;
    color: $default;
    @extend %rubik-500;
    width: 240px;
    height: 53px;
    border-radius: 5px;
    text-align: center;
    & + .product-tabs__top-item {
      margin-left: 13px;
    }
  }
  &__top-item--active {
    background-color: $accent;
    color: #fff;
  }
  &__content-item {
    margin-bottom: 120px;
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.related {
  margin-bottom: 115px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
  }
  &__buttons {
    cursor:pointer;
    & + .related__buttons {
      margin-left: 20px;
    }
    border: none;
    width: 50px;
    height: 50px;
    border: 2px solid $accent;
    border-radius: 4px;
    background-color: #fff;
  }
  &__buttons--active {
    cursor:pointer;
    border-color: #edf1f4;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    display: none;
    &.related__items--active {
      display: flex;
    }
  }
}

.terms {
  margin: 115px 0 115px;
  &__list {
    margin: 25px 0 70px;
  }
  ol {
    list-style-type: decimal-leading-zero;
    margin-left: 35px;
  }
  &__list-text {
    margin-bottom: 25px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    margin: 25px 0 65px;
  }
  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 1;
    color: $default;
  }
}

.blog-page {
  margin: 55px 0 120px;
  &__inner {
    display: flex;
  }
  &__content {
    width: 830px;
    margin-right: 70px;
  }
  &__filters {
    max-width: 275px;
  }
}

.blog-item {
  &__box {
    position: relative;
    margin-bottom: 35px;
  }
  &__img {
    margin-top: 65px;
  }
  &__info {
    width: 275px;
    height: 70px;
    background-color: $accent;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  &__date {
    margin: 0 25px 0 40px;
    font-size: 12px;
    position: relative;
  }
  &__date::before {
    content: '';
    background-image: url('../images/icons/calendar.svg');
    width: 12px;
    height: 13px;
    top: 8px;
    left: -20px;
    position: absolute;
  }
  &__author {
    color: #fff;
    font-size: 12px;
    padding-left: 18px;
    position: relative;
    z-index: 1;
  }
  &__author::before {
    content: '';
    background-image: url('../images/icons/user.svg');
    width: 12px;
    height: 13px;
    top: 8px;
    left: 0;
    position: absolute;
  }
  &__title {
    line-height: 1;
    margin-bottom: 35px;
    color: #333333;
    font-size: 36px;
    display: block;
  }
  &__text {
    margin-bottom: 45px;
  }
  &__link {
    font-size: 15px;
    color: $accent;
    @extend %dmsans-500;
    padding: 19px 84px 19px 20px;
    border: 1px solid $accent;
    margin-bottom: 50px;
    position: relative;
  }
  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/icons/arrow-right.svg');
    width: 22px;
    height: 9px;
    top: 25px;
    right: 16px;
  }
}

.filter-search {
  margin-bottom: 55px;
  &__form {
    display: flex;
    position: relative;
  }
  &__input {
    height: 43px;
    width: 222px;
    border: 1px solid #edf1f4;
    border-radius: 4px;
    padding: 0 5px 0 10px;
    outline: none;
  }
  &__btn {
    width: 48px;
    height: 43px;
    border: none;
    background-color: #edf1f4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

.filter-category {
  margin-bottom: 45px;
}

.filter-posts {
  &__content {
    display: flex;
    margin-bottom: 20px;
  }
  &__img {
    margin-right: 20px;
    img {
      max-width: none;
    }
  }
  &__title {
    width: 163px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    display: block;
    margin-bottom: 12px;
  }
  &__date {
    font-size: 12px;
    color: #9a9a9a;
    line-height: 1;
    padding-left: 19px;
    position: relative;
  }
  &__date::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/calendar-color.svg');
    width: 12px;
    height: 13px;
    top: -1px;
    left: 0;
    path {
      fill: red;
    }
  }
}

.pagination-blog {
  justify-content: start;
  padding-top: 80px;
}

.contact {
  margin: 115px 0 130px;
  &__thumbtitle {
    text-align: center;
    color: $accent;
    @extend %poppins-700;
    line-height: 1;
    font-size: 16px;
    margin-bottom: 18px;
  }
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 35px;
    line-height: 1;
    color: #436372;
    margin-bottom: 72px;
  }
  &__items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
    flex-wrap: wrap;
  }
  &__item {
    width: 370px;
    height: 385px;
    padding: 70px 0 75px;
    background-color: #fbfbfb;
  }
  &__item--active {
    border: 2px solid $accent;
    background-color: #fbfbfb;
  }
  &__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    margin-bottom: 60px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__img--active {
    background-color: $accent;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &__item-title {
    @extend %dmsans-700;
    color: #222222;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin-bottom: 23px;
  }
  &__info {
    text-align: center;
    color: #565872;
  }
  &__form {
    margin-right: 50px;
    width: 615px;
  }
  &__form-box {
    display: flex;
    justify-content: space-between;
  }
  &__form-input {
    width: 300px;
    height: 50px;
    border: none;
    padding: 15px 25px 15px 20px;
    background-color: #fafafa;
    outline: none;
    margin-bottom: 25px;
    &::placeholder {
      color: #565872;
    }
  }
  &__form-input--name {
    background-image: url('../images/icons/user-contact.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  &__form-input--email {
    background-image: url('../images/icons/email-contact.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  &__form-input--name:focus,
  &__form-input--email:focus {
    background-image: none;
    &::placeholder {
      color: transparent;
    }
  }
  &__form-textarea {
    width: 100%;
    height: 170px;
    border: none;
    padding: 20px 25px 15px 20px;
    background-color: #fafafa;
    margin-bottom: 25px;
    outline: none;
    resize: none;
    &::placeholder {
      color: #565872;
      line-height: 1;
    }
  }
  &__form-textarea--message {
    background-image: url('../images/icons/message.svg');
    background-repeat: no-repeat;
    background-position: 97.5% 14%;
  }
  &__form-textarea--message:focus {
    background-image: none;
    &::placeholder {
      color: transparent;
    }
  }
  &__form-btn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: $accent;
    color: #fff;
    @extend %dmsans-700;
    font-size: 15px;
    cursor: pointer;
  }
  &__box {
    display: flex;
  }
}

#map {
  width: 500px;
  height: 335px;
}

.about-top {
  margin: 120px 0;
  &__inner {
    display: flex;
  }
  &__content {
    position: relative;
  }
  &__img {
    margin-right: 50px;
  }
  &__content-box {
    display: flex;
    padding-top: 80px;
  }
  &__content-img {
    margin-right: 25px;
    margin-bottom: 45px;
  }
  &__content-info {
    margin-top: 17px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 60px;
    position: relative;
    width: 555px;
  }
  &__text::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 2px;
    top: 180px;
    left: 0;
    background-color: #ebeef3;
    margin-bottom: 40px;
  }
  &__items {
    margin-top: 100px;
    display: flex;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__span-box {
    margin-left: 20px;
    margin-right: 50px;
  }
  &__span-title {
    display: block;
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
    margin-bottom: 10px;
    line-height: 1;
  }
  &__span-text {
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 1;
    padding-left: 5px;
  }
}

.info {
  margin-bottom: 120px;
  height: 320px;
  background-color: #fcd7b6;

  &__items {
    display: flex;
    justify-content: space-around;
    transform: translateY(50%);
  }
  &__box-img {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
  }
  &__item {
    text-align: center;
  }
  &__title {
    color: $default;
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 20px;
  }
  &__text {
    color: $default;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1;
  }
}

.team {
  margin-bottom: 180px;
  &__inner {
    display: flex;
  }
  &__info {
    margin-right: 95px;
  }
  &__title {
    margin-bottom: 30px;
    line-height: 1;
    color: $default;
    @extend %dmsans-700;
    font-size: 36px;
  }
  &__text {
    width: 310px;
    margin-bottom: 40px;
  }
  &__link {
    font-size: 15px;
    @extend %dmsans-500;
    color: #fff;
    position: relative;
    padding: 15px 63px 15px 18px;
    background-color: $accent;
    border-radius: 4px;
  }
  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/icons/arrow-white-small.svg');
    width: 15px;
    height: 11px;
    top: 20px;
    left: 130px;
  }
  &__content-box {
    width: 335px;
    height: 110px;
    display: flex;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0 25px;
    position: absolute;
    background-color: #fff;
    bottom: -62px;
  }
  &__info-title {
    @extend %dmsans-700;
    color: #436372;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 19px;
    display: block;
  }
  &__info-text {
    line-height: 1;
    color: #565872;
  }
  &__info-link {
    border-radius: 17px;
  }
  &__info-link--one {
    padding: 16px 8px 7px 12px;
    background-color: #f6f6f6;
  }
  &__info-link--two {
    padding: 16px 8px 7px 10px;
    background-color: #f6f6f6;
    margin-left: 7px;
  }
  &__box-img {
    position: relative;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 30px;
  }
}

.blog-item {
  &__title-detalis {
    margin-bottom: 20px;
  }
  &__text-detalis {
    @extend %rubik-500;
    margin-bottom: 20px;
  }
  &__text-one {
    margin-bottom: 35px;
  }
  &__blockquote {
    background-color: #edf1f4;
    padding: 20px 90px 20px 35px;
    border-left: 6px solid $accent;
    margin-bottom: 45px;
  }
  &__blockquote-author {
    padding-left: 45px;
    position: relative;
  }
  &__blockquote-author::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/stick.svg');
    width: 20px;
    height: 3px;
    top: 9px;
    left: 3px;
  }
  &__content {
    display: flex;
    margin-bottom: 40px;
  }
  &__content-img {
    margin-right: 30px;
  }
  &__content-title {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 1;
    color: $default;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  &__content-text {
    color: #565872;
  }
  &__titletitle {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 1;
    color: $default;
    margin-bottom: 25px;
  }
  &__texttext {
    color: #565872;
    padding-bottom: 65px;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 25px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 65px;
  }
  &__left-content {
    display: flex;
    align-items: center;
  }
  &__left-img {
    margin-right: 25px;
  }
  &__left-title {
    @extend %rubik-500;
    font-size: 18px;
    color: #333333;
  }
  &__left-text {
    color: #666666;
  }
  &__right {
    width: 190px;
    margin-right: 20px;
  }
  &__right-span {
    display: inline-block;
    color: #333333;
  }
  &__right-text {
    display: inline-block;
    margin-left: 30px;
    color: #a1a1a1;
  }
  &__right-link {
    padding-left: 20px;
    transform: translateY(4px);
  }
  &__right-links {
    display: inline-flex;
  }
}

.comments {
  margin-bottom: 90px;
  &__title {
    margin-bottom: 60px;
    font-size: 24px;
    @extend %rubik-700;
    color: #436372;
  }
  &__comment {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  &__comment--active {
    margin-left: 130px;
  }
  &__img {
    object-fit: cover;
    margin-right: 30px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__info-title {
    @extend %rubik-700;
    color: #436372;
    font-size: 16px;
    line-height: 1;
  }
  &__info-date {
    font-size: 14px;
    color: #9e9e9e;
    line-height: 1;
  }
  &__text {
    color: #565872;
    margin-bottom: 20px;
  }
  &__reply {
    font-size: 14px;
    color: #516278;
    line-height: 1;
    margin-bottom: 60px;
    display: inline-block;
    position: relative;
  }
  &__reply::after {
    content: '';
    position: absolute;
    background-image: url('../images/icons/arrow-solid.svg');
    width: 14px;
    height: 13px;
    top: 0;
    left: 41px;
  }
  &__comment::after {
    content: '';
    position: absolute;
    background-color: #e0e0e0;
    width: 700px;
    height: 1px;
    bottom: 30px;
    left: 130px;
  }
  &__comment--active::after {
    content: '';
    position: absolute;
    background-color: #e0e0e0;
    width: 700px;
    height: 1px;
    bottom: 30px;
    left: 0;
  }
  &__form-box {
    display: flex;
    justify-content: space-between;
  }
  &__form-input {
    width: 400px;
    height: 50px;
    border: 1px solid #e5e5e5;
    padding: 15px 25px 15px 20px;
    outline-color: $accent;
    margin-bottom: 20px;
    &::placeholder {
      color: #999999;
    }
  }
  &__form-input--name {
    background-image: url('../images/icons/user-contact-accent.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  &__form-input--email {
    background-image: url('../images/icons/email-contact-accent.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  &__form-input--name:focus,
  &__form-input--email:focus {
    &::placeholder {
      color: transparent;
    }
  }
  &__form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #e5e5e5;
    padding: 15px 20px 15px 20px;
    margin-bottom: 40px;
    outline-color: $accent;
    resize: none;
    &::placeholder {
      color: #999999;
      line-height: 1;
    }
  }
  &__form-textarea--message {
    background-image: url('../images/icons/message-accent.svg');
    background-repeat: no-repeat;
    background-position: 97.6% 14%;
  }
  &__form-textarea--message:focus {
    &::placeholder {
      color: transparent;
    }
  }
  &__form-btn {
    width: 190px;
    text-transform: uppercase;
    height: 50px;
    border: none;
    background-color: $accent;
    color: #fff;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
  }
}

@import 'media';
